<div id="container-birth">
  <div id="banner-birth">
    <h1 id="title-birth">E-SCHEDULE</h1>
    <p>Keep Tack of your Activities</p>
  </div>

  <!-- Begin Top Menu -->
   <div class="name-birth">
      <h3 class="name-birth">Hello <%= current_user.username %></h3>
  </div>

  <ul id="navlist-birth">
    <li id="active-birth"><a id="current-birth" href="/meetings/new">ADD MEETING</a></li>
    <li><a href="/birthdays/new">ADD BIRTHDAY</a></li>
    <li><a href="#">TAKE NOTES</a></li>
    <li><a href="/logout">SIGN OUT</a></li>
  </ul>

  <!-- End Top Menu -->
  <div id="sidebar-birth-a" >
    <h2>Activities</h2>
    <div class="menu-birth">
      <ul>
        <li><a href="/meetings">Meeting</a></li>
        <li><a href="/birthdays">Birthday</a></li>
        <li><a href="#">Notes</a></li>
      </ul>
    </div>
    
  </div>

  <div id="sidebar-birth-b">
    <h3>Information</h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse a tortor. Pellentesque sollicitudin, ante nec posuere tempus, arcu lectus vehicula mi, ac rhoncus lorem turpis sed sapien. Pellentesque egestas. Ut eros massa, dignissim at, auctor vitae, consectetuer ut, felis. Ut tincidunt sem in ipsum. </p>
  </div>

  <div id="content-birth">
     <h2 id="birthday"> birthdays </h2>
     <table class="table-birth">
        <thead id="head-b">
            <tr>
                <td>No</td>
                <td>Firstname</td>
                <td>Lastname</td>
                <td>Phone Number</td>
                <td>Relationship</td>
                <td>Birthday</td>
                <td>Modify</td>
                <td>Remove</td>
            </tr>
        </thead>
        <tbody id="body-b">
            <% @birthdays.each.with_index(1) do |birthday, index| %>
            <tr>
                <td><%= index %></td>
                <td><%= birthday.firstname %></td>
                <td><%= birthday.lastname %></td>
                <td><%= birthday.phone_number %></td>
                <td><%= birthday.relationship %></td>
                <td><%= birthday.birthday %></td>
                <td><a href="/birthdays/<%= birthday.id %>/edit">Edit Birthday </a></td>
                <td>
                  <form onsubmit=" return confirm('Are you sure you want to delete this birthday?')" method="post" action="/birthdays/<%=birthday.id%>/delete">
                    <input id="hidden" type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete Birthday">
                  </form>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </div>
</div>
